<h2>
	Sign
</h2>

<form action="/visit" method="POST">
  <div class="form-group">
    <label >Your name</label>
    <input type="text" class="form-control" placeholder="Enter your name" name = "username">
    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
  </div>

  
  
  <button type="submit" class="btn btn-primary">Sign in</button>
</form>